/* Roboto Slab & Roboto */
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');

/*--Basic color scheme--*/
:root {
  --dark-primary-color: #022140;
  --default-primary-color: #265077;
  --light-primary-color: #e4e5eb;
  --text-primary-color: #FFFFFF;
  --accent-color: #51a7f8;
  --primary-bg-color: #FFFFFF;
  --primary-text-color: #595959;
  --emphasis-text-color: #212121;
  --secondary-text-color: #1E4258;
  --divider-color: var(--dark-primary-color);
  --overlay-bg-color: #1E4258;
  --overlay-text-color: #ccc;
  --container-bg-color: #FCFCFC;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1.5;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, Sans-Serif;
  letter-spacing: 0.042rem;
  background: var(--default-primary-color);
}

#title {
  font-family: 'Roboto Slab', Helvetica, Sans-Serif;
  font-size: 2rem;
  text-align: center;
  padding-top: 3rem;
  color: var(--text-primary-color);
}

.form-container {
  margin: 1rem auto;
  max-width: 768px;
  color: var(--overlay-text-color);
  background: var(--primary-bg-color);
}

#description {
  text-align: center;
  font-size: 1.15rem;
}

/*-----form style------*/
#survey-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0;
  grid-gap: 2rem;
  padding: 2rem ;
  background: var(--overlay-bg-color); 
}

#survey-form label {
  display: block;
}

#survey-form input, #survey-form textarea {
  width: 80%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--accent-color);
}

#survey-form select {
  padding: 0.5rem;
}

.menu-container {
  display: grid;
  grid-template-columns: 30px 1fr;
}

.menu-container label {
  display: inline-block;
  width: 300px;
  text-align: left;
}​

.checkbox-group {
  display: grid;
  grid-template-columns: repeat(2 1fr);
}


input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: -5px;
    border: 1px solid pink;
}

#survey-form button:hover, #survey-form button:focus {
  background: var(--text-primary-color);
  font-weight: bold;
  color: var(--dark-primary-color);
  outline: 0;
}

.submit-btn {
  width: 30%;
  padding: 1rem;
  color: var(--text-primary-color);
  background: var(--accent-color);
  border: 0;
  border-radius: 25px;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
  cursor: pointer;
}